---
import { skills } from "@cv";
import Section from "@/components/Section.astro";
---

<Section title="Habilidades" />
    <div class="flex-container">
        <ul>
            {
                skills.map(({ name }) => {
                    return (
                        <li>{name}</li>
                    )
                })
            }
        </ul>
    </div>
</Section>

<style>
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    ul {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      padding-left: 10%;
      padding-right: 5%;
      margin: 0 auto;
    }
  
    li {
      background: #eee;
      border-radius: 6px;
      color: black;
      font-size: 0.8rem;
      font-weight: 500;
      gap: 0.3rem;
      padding: 0.2rem 0.5rem;
    }

    ul li:hover {
        background: #ddd;
    }
</style>
