---
import Layout from '@/layouts/Layout.astro'

import About from '@/components/sections/About.astro'
import Hero from '@/components/sections/Hero.astro'

import { basics } from "@cv"
const { name, label } = basics


---

<Layout title={`Portfolio de ${name} - ${label}`}>
	<main>
		<Hero />
		<About />
	</main>
</Layout>

<style>
	
</style>
