---
import Layout from '@/layouts/Layout.astro'

import About from '@/components/sections/About.astro'
import Experiencia from '@/components/sections/Experiencia.astro'
import Educacion from '@/components/sections/Educacion.astro'
import Hero from '@/components/sections/Hero.astro'

import { basics } from "@cv"

const { name, label } = basics
---

<Layout title={`Portfolio de ${name} - ${label}`}>
	<main>
		<Hero />
		<About />
		<Experiencia />
		<Educacion />
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	@media (max-width: 700) {
		main {
			padding: 1rem;
		}
	}
</style>
